@media (min-width: 320px) and (max-width: 480px) {
    .slds-card{
        width: 100%;
        font-size: smaller;
    }
    .success-msg{
        font-size: smaller;
        min-width: auto;
        padding: 10px;
    }
     
}
.success-msg{
    min-width: auto;
}
.errMsg{
    color: tomato;
}
.error{
    border: 1px solid tomato;
}
.processing{
    display: none;
    width: 80px;
    height: 80px;
} 

.show{
    display: inline-block;
}