.THIS .scroll-wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.THIS .sWrapTest {
    height:100px;
    width:100px;
}

.THIS .btnCls{
    
}
.THIS .errorWidth{
    min-width:0;
}

.THIS .btnWidth{
    width:100%;
}